---
import Layout from "@/layouts/Layout.astro";
import { ArrowRight } from "lucide-react";
import ContractIcon from "@/assets/ContractIcon.astro";
import CrossIcon from "@/assets/CrossIcon.astro";
import { Image } from "astro:assets";

// Images
import NavRedilLaureles from "@/images/iglesia/nav-redil-laureles.webp";
import RedilDonaciones from "@/images/iglesia/nav-redil-donacion.webp";
import Iglesia2025 from "@/images/iglesia/miembros-2024.webp";

import PastorEduardo from "@/images/iglesia/EDUARDO.webp";
import PastorParmenio from "@/images/iglesia/PARME.webp";
import ButtonCard from "@/components/shared/ButtonCard.astro";

// Types
import type { cardProps } from "@/components/types/card";

const utilLinks: cardProps[] = [
  {
    title: "Confesión de Fe",
    image: Iglesia2025,
    alt: "Imagen del documento Confesión de Fe",
    link: "https://drive.google.com/file/d/1PsSIH1ixwti6Ix_zteCwB7WdPDf7ulqO/view?usp=sharing",
  },
  {
    title: "Nuestros Principios",
    image: NavRedilLaureles,
    alt: "Imagen del documento Nuestros Principios",
    link: "https://drive.google.com/file/d/1AJi0h21EzAMjXlxQhWsumSXP4cL2-TRt/view?usp=share_link",
  },
  {
    title: "¿Qué valoramos?",
    image: RedilDonaciones,
    alt: "Imagen del Documento ¿Qué valoramos?",
    link: "https://drive.google.com/file/d/1-l2aR8ls92op0SZWRsuxgc98--1Nca2C/view?usp=sharing",
  },
];
---

<Layout pageTitle="Nuestra Iglesia">
  <main class="wrapper flex flex-col gap-3">
    <figure class="w-full mt-10 overflow-clip rounded-2xl shadow-lg">
      <lite-youtube
        videoid="d0HIs_vBf30"
        autoload
        posterquality="maxresdefault"
        params="rel=0&enablejsapi=1"></lite-youtube>
    </figure>
    <!-- Links importantes  -->
    <section
      class="max-w-7xl w-full grid grid-cols-1 md:grid-cols-3 gap-4 h-full mx-auto"
    >
      {
        utilLinks.map(({ image, alt, title, link }) => (
          <ButtonCard title={title} image={image} alt={alt} link={link} />
        ))
      }
    </section>
    <!-- Equipo Pastoral -->
    <!-- Mision y Vision -->
    <section class="my-16">
      <h3 class="text-2xl text-center mb-3 w-full">Equipo Pastoral</h3>
      <div class="flex gap-6 flex-col text-center md:flex-row md:text-left">
        <article class="px-5 flex flex-col items-center">
          <Image
            alt="Imagen del Pastor Eduardo Vargas. Ilustracion por Danny Ramos"
            height={200}
            width={200}
            class="rounded-full"
            src={PastorEduardo}
          />
          <h4 class="text-2xl mb-3 flex items-center gap-2">
            Eduardo Vargas - Pastor
          </h4>
          <p class="text-balance text-center">
            Teólogo y Terapeuta Respiratorio. Casado con Melissa Pérez desde el
            2018. Papá de Esteban; Disfruta practicar ciclomontañismo.
          </p>
        </article>
        <article class="px-5 flex flex-col items-center">
          <Image
            alt="Imagen del Pastor Eduardo Vargas. Ilustracion por Danny Ramos"
            height={200}
            width={200}
            class="rounded-full"
            src={PastorParmenio}
          />
          <h4 class="text-2xl mb-3 flex items-center gap-2">
            Parmenio Buitrago - Pastor
          </h4>
          <p class="text-balance text-center">
            Teólogo y productor de televisión. Casado con Claudia desde 1990;
            Papá de Carolina y Sofía; Dos pasiones me acompañan siempre: la
            lectura y la historia.
          </p>
        </article>
      </div>
    </section>
    <!-- Mision y Vision -->
    <section
      class="mt-4 flex gap-6 flex-col text-center md:flex-row md:text-left"
    >
      <article class="r-well border border-zinc-300 shadow-md">
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <ContractIcon />Misión
        </h4>
        <p class="text-balance">
          Somos una comunidad cristiana de personas reconciliadas con Dios, y
          unos con otros, que reconocemos a Jesucristo, el Gran Pastor (Juan
          10), como nuestro único Señor y Salvador a quien amamos y obedecemos
          siendo y haciendo discípulos (Mateo 28:18-20, Lucas 10:27).
        </p>
      </article>
      <article class="r-well border border-zinc-300 shadow-md">
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <CrossIcon />Visión
        </h4>
        <p class="text-blance">
          Queremos ser una familia que vive y disfruta el Evangelio de la Gracia
          de Cristo mientras reflejamos su Gloria y Belleza en nuestra ciudad.
        </p>
      </article>
    </section>
  </main>
</Layout>
