---
import Layout from "@/layouts/Layout.astro";
import ContractIcon from "@/assets/ContractIcon.astro";
import CrossIcon from "@/assets/CrossIcon.astro";
import { Image } from "astro:assets";

// Images
import PastorEduardo from "@/images/iglesia/Eduardo_melissa.webp";
import PastorParmenio from "@/images/iglesia/Parmenio_claudia.webp";
import { BookOpen, ScrollText, Heart } from "lucide-react";

// Types
import type { cardProps, iconCardProps } from "@/components/types/card";
import IconCard from "@/components/shared/IconCard.astro";
import { Modal } from "@/components/ui/modal";
import { RenderDocument } from "@/components/react/RenderDocument";

interface pastorProps {
  image: ImageMetadata;
  alt: string;
  name: string;
  title: string;
  description: string;
}

const pastores: pastorProps[] = [
  {
    image: PastorEduardo,
    alt: "Fotografía del Pastor Eduardo Vargas y su esposa Melissa",
    name: "Eduardo Vargas",
    title: "Pastor",
    description:
      "Teólogo y terapeuta respiratorio. Casado con Melissa desde el 2018. Papá de Esteban y David; disfruta practicar ciclomontañismo.",
  },
  {
    image: PastorParmenio,
    alt: "Fotografía del Pastor Parmenio Buitrago y su esposa Claudia",
    name: "Parmenio Buitrago",
    title: "Pastor",
    description:
      "Teólogo y productor de televisión. Casado con Claudia desde 1990; papá de Carolina y Sofía; dos pasiones me acompañan siempre: la lectura y la historia.",
  },
];

// https://drive.google.com/file/d/1PsSIH1ixwti6Ix_zteCwB7WdPDf7ulqO/viewer

const utilLinks: iconCardProps[] = [
  {
    title: "Confesión de Fe",
    description: "Nuestra base doctrinal y declaración de fe fundamental.",
    icon: BookOpen,
    url: "https://drive.google.com/file/d/1PsSIH1ixwti6Ix_zteCwB7WdPDf7ulqO/preview",
  },
  {
    title: "Nuestros Principios",
    description: "Los pilares que guían nuestro caminar como comunidad.",
    icon: ScrollText,
    url: "https://drive.google.com/file/d/1AJi0h21EzAMjXlxQhWsumSXP4cL2-TRt/preview",
  },
  {
    title: "¿Qué valoramos?",
    description: "Los valores esenciales que definen nuestra identidad.",
    icon: Heart,
    url: "https://drive.google.com/file/d/1-l2aR8ls92op0SZWRsuxgc98--1Nca2C/preview",
  },
];
---

<Layout pageTitle="Nuestra Iglesia">
  <main class="wrapper flex flex-col gap-3">
    <figure class="w-full mt-10 overflow-clip rounded-2xl shadow-lg">
      <lite-youtube
        videoid="d0HIs_vBf30"
        autoload
        posterquality="maxresdefault"
        params="rel=0&enablejsapi=1"></lite-youtube>
    </figure>
    <!-- Links importantes  -->
    <section
      class="max-w-7xl w-full grid grid-cols-1 md:grid-cols-3 gap-4 h-full mx-auto"
    >
      {
        utilLinks.map(({ title, url, icon: Icon, description }) => (
          <Modal client:visible header={title}>
            <div slot="trigger">
              <IconCard title={title} icon={Icon} description={description} />
            </div>
            <RenderDocument client:visible url={url ?? ""} />
          </Modal>
        ))
      }
    </section>
    <!-- Equipo Pastoral -->
    <section class="my-8">
      <h3
        class="text-lg font-bold md:text-3xl text-center my-5 w-full text-primary-title"
      >
        Equipo Pastoral
      </h3>
      <div class="flex gap-6 flex-col text-center md:flex-row md:text-left">
        {
          pastores.map((pastor) => (
            <article class="px-5 w-full flex flex-col items-center">
              <Image
                alt={pastor.alt}
                height={200}
                width={200}
                class="rounded-lg w-full mb-4"
                src={pastor.image}
              />
              <h4 class="text-2xl mb-3 flex items-center gap-2">
                {pastor.name} -{" "}
                <span class="text-muted-foreground">{pastor.title}</span>
              </h4>
              <p class="text-balance text-center">{pastor.description}</p>
            </article>
          ))
        }
      </div>
    </section>
    <!-- Mision y Vision -->
    <section class="flex gap-6 flex-col text-center md:flex-row md:text-left">
      <article class="r-well border border-zinc-300 shadow-md">
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <ContractIcon />Misión
        </h4>
        <p class="text-balance">
          Somos una comunidad cristiana de personas reconciliadas con Dios, y
          unos con otros, que reconocemos a Jesucristo, el Gran Pastor (Juan
          10), como nuestro único Señor y Salvador a quien amamos y obedecemos
          siendo y haciendo discípulos (Mateo 28:18-20, Lucas 10:27).
        </p>
      </article>
      <article class="r-well border border-zinc-300 shadow-md">
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <CrossIcon />Visión
        </h4>
        <p class="text-blance">
          Queremos ser una familia que vive y disfruta el Evangelio de la Gracia
          de Cristo mientras reflejamos su Gloria y Belleza en nuestra ciudad.
        </p>
      </article>
    </section>
  </main>
</Layout>
