---
// Astro
import HomeLayout from "@/layouts/HomeLayout.astro";
import { Image } from "astro:assets";
// Images
import miembros2024 from "@/images/iglesia/miembros-2024.webp";
import NavRedilLaureles from "@/images/iglesia/nav-redil-laureles.webp";
import RedilDonaciones from "@/images/iglesia/nav-redil-donacion.webp";
import qrBancolombia from "@/images/ui/QR_redil_laureles.webp";
// Components
import Nav from "@/components/shared/Nav.astro";
import PlayVideoIcon from "@/assets/PlayIcon.astro";
import ButtonCard from "@/components/shared/ButtonCard.astro";
import { Modal } from "@/components/ui/modal";

import { ArrowRight } from "lucide-react";
import RedilMap from "@/components/react/RedilMap";

// Video data globally fetched in middleware
const videoId = Astro.locals.videoId ?? "d0HIs_vBf30";
const title = Astro.locals.videoTitle ?? "Bienvenidos al Redil Laureles";
---

<HomeLayout>
  <section
    class="px-5 pt-24 gap-5 min-h-[calc(100vh-7rem)] text-center relative pb-5"
  >
    <main>
      <div class="absolute top-0 left-0 right-0">
        <Nav />
      </div>
      <div
        class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-b dark:from-neutral-600 from-blue-100 to-transparent overflow-clip rounded-b-4xl"
      >
      </div>
      <!-- Video y Bienvenida -->
      <article
        class="grid grid-cols-1 md:grid-cols-3 w-full gap-3 items-center max-w-7xl mx-auto mb-6"
      >
        <article class="md:col-span-2">
          <p
            class="px-3 py-2 flex gap-2 items-center rounded-md bg-amber-50 shadow border-l-4 inset-0 border border-amber-300 mb-2 font-semibold text-black text-xs md:text-sm text-balance text-start"
          >
            <i class="inline-block rounded-full p-1 bg-amber-300 font-medium"
              ><PlayVideoIcon /></i
            > Última Predicación: {title}
          </p>
          <div class="overflow-clip rounded-2xl shadow-lg">
            <lite-youtube
              videoid={videoId}
              autoload
              posterquality="maxresdefault"
              params="rel=0&enablejsapi=1"
            >
              <Image
                src={NavRedilLaureles}
                alt="Nuestra Iglesia"
                width={300}
                height={300}
              />
            </lite-youtube>
          </div>
        </article>
        <!-- Bienvenidos -->
        <div
          class="r-well flex flex-col justify-center md:justify-around gap-6 h-full relative"
        >
          <span class="">
            <h1
              class="text-4xl md:text-5xl font-bold mb-3 text-blue-700 dark:text-amber-300"
            >
              Bienvenido al Redil Laureles
            </h1>
            <p class="md:text-lg">
              Damos gracias a Dios por tu visita. Esperamos que este espacio sea
              de mucha bendición para tu vida. Te invitamos a conocer quiénes
              somos y a explorar los recursos que tenemos para ti. ¡Siéntete
              bienvenido!
            </p>
          </span>
          <span class="mt-5 md:text-md py-3 relative">
            <p class="font-bold text-balance">
              Diagonal 75# # 72-108, Medellín - Colombia
            </p>
            <hr class="my-3" />
            <p class="font-bold text-balance">
              Domingo Celebraciones: 9AM | 11AM
            </p>
          </span>
        </div>
      </article>
    </main>
    <article
      class="max-w-7xl w-full grid grid-cols-1 md:grid-cols-3 gap-4 h-full mb-32 mx-auto"
    >
      <Modal client:load header="¿Cómo llegar?">
        <div
          slot="trigger"
          class="cursor-pointer rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
        >
          <ButtonCard
            title="¿Cómo llegar?"
            image={miembros2024}
            alt="Nuestros miembros 2024"
          />
        </div>

        <div>
          <RedilMap />
        </div>
      </Modal>
      <ButtonCard
        title="Nuestra Iglesia"
        link="/iglesia"
        image={NavRedilLaureles}
        alt="Nuestra Iglesia"
      />
      <!-- Modal Donaciones -->
      <Modal
        client:load
        header="¿Cómo hacer una donación - El Redil Iglesia Bautista?"
      >
        <div
          slot="trigger"
          class="cursor-pointer rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
        >
          <ButtonCard
            title="Donaciones"
            image={RedilDonaciones}
            alt="Imagen de uvas, como simbolo del fruto de la gracia"
          />
        </div>

        <section class="text-white flex-responsive md:justify-between gap-4">
          <article class="w-full">
            <div class="mb-2">
              <p>El Redil Iglesia Bautista</p>
              <p>NIT: 901394090-1</p>
              <hr class="my-2" />
              <p class="font-semibold">Bancolombia Ahorros: 34400000319</p>
            </div>
            <button
              class="flex items-center justify-between cursor-pointer px-2 py-3 w-full rounded-lg bg-amber-500 hover:bg-amber-300 text-black font-bold"
            >
              <span>Através de Wompi</span>
              <i class="bg-white p-1 rounded-full">
                <ArrowRight size={20} />
              </i>
            </button>
          </article>
          <article class="w-full">
            <p class="mb-2 font-semibold">QR Bancolombia</p>
            <Image
              width={300}
              height={300}
              src={qrBancolombia}
              alt="QR Bancolombia"
              class="place-self-center"
            />
          </article>
        </section>
      </Modal>
    </article>
  </section>

  <script>
    import { isModalOpened } from "@/store";

    document.addEventListener("astro:page-load", () => {
      const modalButton = document.getElementById("modal-index");

      modalButton?.addEventListener("click", () => {
        isModalOpened.set(true);
      });
    });
  </script>
</HomeLayout>
