---
import HomeLayout from "@/layouts/HomeLayout.astro";
import { PlayIcon, ArrowRight } from "lucide-react";
import { Image } from "astro:assets";

import NavRedilLaureles from "@/images/iglesia/nav-redil-laureles.webp";
import RedilDonaciones from "@/images/iglesia/nav-redil-donacion.webp";
import Iglesia2025 from "@/images/iglesia/miembros-2024.webp";
import Nav from "@/components/shared/Nav.astro";
import UIModalVideo from "@/components/ui/modalVideo";

interface EasySection {
  title: string;
  image: any;
  alt: string;
  link: string;
  id?: string;
  icon?: any;
}

const EasySection: EasySection[] = [
  {
    title: "Última Predicación",
    image: Iglesia2025,
    id: "modal-index",
    alt: "Miembros de la iglesia redil laureles en una asamblea",
    link: "#",
    icon: PlayIcon,
  },
  {
    title: "Nuestra Iglesia",
    image: NavRedilLaureles,
    alt: "Asistentes a la iglesia redil laureles al exterior de la sede",
    link: "/iglesia",
    icon: ArrowRight,
  },
  {
    title: "Donaciones",
    image: RedilDonaciones,
    alt: "Imagen alusiva a donaciones",
    link: "/iglesia",
    icon: ArrowRight,
  },
];

import { actions } from "astro:actions";

const { data, error } = await Astro.callAction(actions.lastVideo, {});

// 2. Handle the error or provide fallbacks
if (error) {
  console.error("Action failed:", error.message);
}

const videoId = data?.videoId ?? "fallback-id";
const title = data?.title ?? "Título no disponible";

---

<HomeLayout>
  <UIModalVideo client:load />
  <main class="px-5 pt-24 gap-5 min-h-[calc(100vh-7rem)] text-center relative">
    <div class="absolute top-0 left-0 right-0">
      <Nav />
    </div>
    <div
      class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-b dark:from-neutral-300 from-neutral-100 to-transparent overflow-clip brightness-30 rounded-b-4xl"
    >
    </div>
    <!-- Video Redil -->
    <section
      class="grid grid-cols-1 md:grid-cols-3 w-full gap-3 items-center max-w-7xl mx-auto mb-6"
    >
      <article class="md:col-span-2">
        <p class="px-3 py-2 rounded-xl bg-neutral-300 w-fit mb-2 font-bold text-black text-xs md:text-sm text-balance">Última Predicación: {title}</p>
        <div class="overflow-clip rounded-2xl shadow-lg">
          <lite-youtube videoid={videoId}></lite-youtube>
        </div>
      </article>
      <!-- Bienvenidos -->
      <div class="r-well flex flex-col items-center md:items-start justify-center md:justify-around gap-6 h-full relative">
        <span class="">
          <p
            class="text-4xl md:text-5xl font-bold mb-3 text-blue-700 dark:text-amber-300"
          >
            Bienvenido al Redil Laureles
          </p>
          <p class="md:text-lg">
            Damos gracias a Dios por tu visita. Esperamos que este espacio sea
            de mucha bendición para tu vida. Te invitamos a conocer quiénes
            somos y a explorar los recursos que tenemos para ti. ¡Siéntete
            bienvenido!
          </p>
        </span>
        <span class="mt-5 md:text-lg py-3 relative">
          <hr class="absolute top-0 left-0 right-0 w-full">
          <p class="font-bold text-balance">
            Domingo Celebraciones: 9AM | 11AM
          </p>
          <p class="font-bold text-balance">Miércoles - Rebaño: 7:00 PM</p>
        </span>
      </div>
    </section>
    <section
      class="max-w-7xl w-full grid grid-cols-1 md:grid-cols-3 gap-4 h-full mb-32 mx-auto"
    >
      {
        EasySection.map(({ image, alt, id, title, icon: Icon, link }) => (
          <div class="h-full min-h-40 md:min-h-48">
            <a
              aria-label="see last preech video"
              id={id}
              class="last-preech-link bg-neutral-800 group cursor-behavior rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
              href={link}
            >
              <Image
                class="dark:group-hover:brightness-50 group-hover:scale-105 transition-all duration-300 w-full h-full object-cover mask-b-from-0 absolute"
                src={image}
                height="611"
                decoding="async"
                loading="eager"
                width="916"
                alt={alt}
              />
              <div class="w-full p-5 absolute flex flex-row justify-between items-center gap-4 text-responsive bg-responsive picture-background">
                <p class="group-hover:block ease-in-out transition-all duration-150 font-bold min-md:text-2xl text-lg">
                  {title}
                </p>
                <span class="hover-icon dark:group-hover:text-neutral-800 rounded-full p-2 text-xl bg-zinc-600 group-hover:bg-blue-600 dark:group-hover:bg-amber-300 transition-all duration-200">
                  {Icon ? <Icon /> : <ArrowRight />}
                </span>
              </div>
            </a>
          </div>
        ))
      }
    </section>
  </main>
</HomeLayout>

<script>
  import { isModalOpened } from "@/store";

  document.addEventListener("astro:page-load", () => {
    const modalButton = document.getElementById("modal-index");

    modalButton?.addEventListener("click", () => {
      isModalOpened.set(true);
    });
  });
</script>
