---
import HomeLayout from "@/layouts/HomeLayout.astro";
import miembros2024 from "@/images/iglesia/miembros-2024.webp";
import NavRedilLaureles from "@/images/iglesia/nav-redil-laureles.webp";
import RedilDonaciones from "@/images/iglesia/nav-redil-donacion.webp";
import Nav from "@/components/shared/Nav.astro";
import PlayVideoIcon from "@/assets/PlayIcon.astro";
import ButtonCard from "@/components/shared/ButtonCard.astro";
import type { cardProps } from "@/components/types/card";

const utilLinks: cardProps[] = [
  {
    title: "Nuestra Iglesia",
    image: NavRedilLaureles,
    alt: "Asistentes a la iglesia redil laureles al exterior de la sede",
    link: "/iglesia",
  },
  {
    title: "Donaciones",
    image: RedilDonaciones,
    alt: "Imagen alusiva a donaciones",
    link: "/iglesia",
  },
];

import { actions } from "astro:actions";
import { Modal } from "@/components/ui/modal";

const { data, error } = await Astro.callAction(actions.lastVideo, {});

// 2. Handle the error or provide fallbacks
if (error) {
  console.error("Action failed:", error.message);
}

const videoId = data?.videoId ?? "d0HIs_vBf30";
const title = data?.title ?? "Bienvenidos al Redil Laureles";
---

<HomeLayout>
  <section
    class="px-5 pt-24 gap-5 min-h-[calc(100vh-7rem)] text-center relative pb-5"
  >
    <main>
      <div class="absolute top-0 left-0 right-0">
        <Nav />
      </div>
      <div
        class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-b dark:from-neutral-600 from-blue-100 to-transparent overflow-clip rounded-b-4xl"
      >
      </div>
      <!-- Video y Bienvenida -->
      <article
        class="grid grid-cols-1 md:grid-cols-3 w-full gap-3 items-center max-w-7xl mx-auto mb-6"
      >
        <article class="md:col-span-2">
          <p
            class="px-3 py-2 flex gap-2 items-center rounded-md bg-amber-50 shadow border-l-4 inset-0 border border-amber-300 mb-2 font-semibold text-black text-xs md:text-sm text-balance text-start"
          >
            <i class="inline-block rounded-full p-1 bg-amber-300 font-medium"
              ><PlayVideoIcon /></i
            > Última Predicación: {title}
          </p>
          <div class="overflow-clip rounded-2xl shadow-lg">
            <lite-youtube
              videoid={videoId}
              autoload
              posterquality="maxresdefault"
              params="rel=0&enablejsapi=1"></lite-youtube>
          </div>
        </article>
        <!-- Bienvenidos -->
        <div
          class="r-well flex flex-col justify-center md:justify-around gap-6 h-full relative"
        >
          <span class="">
            <h1
              class="text-4xl md:text-5xl font-bold mb-3 text-blue-700 dark:text-amber-300"
            >
              Bienvenido al Redil Laureles
            </h1>
            <p class="md:text-lg">
              Damos gracias a Dios por tu visita. Esperamos que este espacio sea
              de mucha bendición para tu vida. Te invitamos a conocer quiénes
              somos y a explorar los recursos que tenemos para ti. ¡Siéntete
              bienvenido!
            </p>
          </span>
          <span class="mt-5 md:text-lg py-3 relative">
            <hr class="absolute top-0 left-0 right-0 w-full" />
            <p class="font-bold text-balance">
              Domingo Celebraciones: 9AM | 11AM
            </p>
            <p class="font-bold text-balance">Miércoles - Rebaño: 7:00 PM</p>
          </span>
        </div>
      </article>
    </main>
    <article
      class="max-w-7xl w-full grid grid-cols-1 md:grid-cols-3 gap-4 h-full mb-32 mx-auto"
    >
      <Modal client:load header="¿Cómo llegar?">
        <div
          slot="trigger"
          class="cursor-pointer rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
        >
          <ButtonCard
            title="¿Cómo llegar?"
            image={miembros2024}
            alt="Nuestros miembros 2024"
          />
        </div>

        <div class="text-white">
          <p>
            Aquí puedes incluir el mapa o la dirección detallada de la iglesia.
          </p>
        </div>
      </Modal>
      {
        utilLinks.map(({ image, alt, title, link }) => (
          <ButtonCard title={title} link={link} image={image} alt={alt} />
        ))
      }
    </article>
  </section>

  <script>
    import { isModalOpened } from "@/store";

    document.addEventListener("astro:page-load", () => {
      const modalButton = document.getElementById("modal-index");

      modalButton?.addEventListener("click", () => {
        isModalOpened.set(true);
      });
    });
  </script>
</HomeLayout>
