---
const { userInfo } = Astro.locals;
import {
  ArrowUpRight,
  Clock,
  GraduationCap,
  Scale,
  UserCheck,
} from "lucide-react";
import { DocumentTabs } from "@/components/react/DocumentTabs";
import IconCard from "@/components/shared/IconCard.astro";
import { Modal } from "@/components/ui/modal";
import QuickInfo from "@/components/shared/QuickInfo.astro";
import { RenderDocument } from "./react/RenderDocument";
import Notification from "./shared/Notification.astro";

const memberLinks = [
  {
    title: "Mis Cursos",
    href: "/miembros/cursos",
    icon: GraduationCap,
    description: "Accede a tus cursos y gestiona tus certificados.",
  },
  {
    title: "Documentos Oficiales",
    href: "/miembros/estatutos",
    icon: Scale,
    description: "Consulta los documentos oficiales del Redil Laureles.",
  },
  {
    title: "Asambleas",
    href: "/miembros/asambleas",
    icon: UserCheck,
    description: "Consulta información sobre las asambleas del Redil Laureles.",
  },
];

const documentosAsamblea = [
  {
    title: "Carta de Delegación de Voto",
    url: "https://docs.google.com/document/d/1b5b8ERhDvidbwUIlFhIk2aAixRG58sO4WYi667WMOu8/edit?usp=sharing",
    action: "Abrir",
    description: "Documento en Google Docs para descargar",
  },
  {
    title: "Estados Financieros",
    url: "https://drive.google.com/file/d/1rByGJZoHWPodJEFoGbSNF-H1uCgF1_9H/preview",
    action: "Ver",
    description: "Información de uso exclusivo de la Junta Directiva.",
  },
];
---

<main class="px-5 md:px-0 max-w-7xl mx-auto flex flex-col gap-8 mt-12 mb-20">
  <section class="flex flex-col gap-3">
    <span
      class="text-primary-title font-semibold tracking-wider uppercase text-sm text-center md:text-left"
      >Panel de Control</span
    >
    <h1 class="text-2xl md:text-4xl font-bold text-center md:text-left">
      Bienvenido, <span class="text-primary-title text-balance"
        >{userInfo?.userName ?? userInfo?.userEmail?.split("@")[0]}</span
      >
    </h1>
    <p class="text-muted-foreground text-center md:text-left max-w-7xl">
      Aquí puedes gestionar tu progreso, consultar documentos oficiales y estar
      al tanto de tu actividad en la comunidad.
    </p>
  </section>

  <section class="w-full relative">
    <div class="mb-5">
      <Modal client:visible header="Estados Financieros">
        <div slot="trigger">
          <QuickInfo
            variant="amber"
            label={documentosAsamblea[1].title}
            action={documentosAsamblea[1].action}
            description={documentosAsamblea[1].description}
          />
        </div>
        <RenderDocument client:visible url={documentosAsamblea[1].url} />
      </Modal>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Cursos -->
      <IconCard
        title={memberLinks[0].title}
        icon={memberLinks[0].icon}
        href={memberLinks[0].href}
        description={memberLinks[0].description}
      />

      <!-- Estatutos -->
      <Modal client:visible header="Documentos Oficiales">
        <div slot="trigger">
          <IconCard
            title={memberLinks[1].title}
            icon={memberLinks[1].icon}
            description={memberLinks[1].description}
          />
        </div>
        <DocumentTabs client:visible />
      </Modal>

      <!-- Asambleas -->
      <Modal client:visible header="Próxima Asamblea">
        <div slot="trigger">
          <IconCard
            title={memberLinks[2].title}
            icon={memberLinks[2].icon}
            description={memberLinks[2].description}
          />
        </div>

        <h1
          class="text-lg text-muted-foreground font-bold text-pretty flex-responsive justify-between"
        >
          <span class="text-primary-title">Fecha: 15 de Febrero de 2026</span>
          <span class="text-primary-title flex gap-2 items-center"
            ><Clock size={20} /> Hora: 2:30 PM</span
          >
        </h1>
        <Notification variant="info" className="my-4">
          En caso de no poder asistir a la asamblea, debes diligenciar la carta
          de delegación de voto:
        </Notification>
        <div class="flex flex-col gap-3 mt-4">
          <QuickInfo
            label={documentosAsamblea[0].title}
            url={documentosAsamblea[0].url}
            action={documentosAsamblea[0].action}
            description={documentosAsamblea[0].description}
          />
        </div>
      </Modal>
    </div>
  </section>
</main>
