---
const { userInfo } = Astro.locals;
import { GraduationCap, Scale, UserCheck } from "lucide-react";
import { DocumentTabs } from "@/components/react/DocumentTabs";
import IconCard from "@/components/shared/IconCard.astro";
import { Modal } from "@/components/ui/modal";

const memberLinks = [
  {
    title: "Mis Cursos",
    href: "/miembros/cursos",
    icon: GraduationCap,
    description: "Accede a tus cursos y gestiona tus certificados.",
  },
  {
    title: "Documentos Oficiales",
    href: "/miembros/estatutos",
    icon: Scale,
    description: "Consulta los documentos oficiales del Redil Laureles.",
  },
  {
    title: "Asambleas",
    href: "/miembros/asambleas",
    icon: UserCheck,
    description: "Consulta información sobre las asambleas del Redil Laureles.",
  },
];
---

<main class="px-5 md:px-0 max-w-7xl mx-auto flex flex-col gap-8 mt-12 mb-20">
  <section class="flex flex-col gap-3">
    <span
      class="text-primary-title font-semibold tracking-wider uppercase text-sm text-center md:text-left"
      >Panel de Control</span
    >
    <h1 class="text-3xl md:text-5xl font-bold text-center md:text-left">
      Bienvenido, <span class="text-primary-title"
        >{userInfo?.userName ?? userInfo?.userEmail?.split("@")[0]}</span
      >
    </h1>
    <p class="text-muted-foreground text-center md:text-left max-w-2xl">
      Aquí puedes gestionar tu progreso, consultar documentos oficiales y estar
      al tanto de tu actividad en la comunidad.
    </p>
  </section>

  <section class="w-full relative">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Cursos -->
      <IconCard
        title={memberLinks[0].title}
        icon={memberLinks[0].icon}
        href={memberLinks[0].href}
        description={memberLinks[0].description}
      />

      <!-- Estatutos -->
      <Modal client:visible header="Documentos Oficiales">
        <div slot="trigger">
          <IconCard
            title={memberLinks[1].title}
            icon={memberLinks[1].icon}
            description={memberLinks[1].description}
          />
        </div>
        <DocumentTabs client:visible />
      </Modal>

      <!-- Asambleas -->
      <Modal client:visible header="Asambleas">
        <div slot="trigger">
          <IconCard
            title={memberLinks[2].title}
            icon={memberLinks[2].icon}
            description={memberLinks[2].description}
          />
        </div>

        <p>Test</p>
      </Modal>
    </div>
  </section>
</main>
