---
import './src/styles/global.css';
import '@/styles/global.css';

import {ClientRouter} from 'astro:transitions';
import Nav from '@/components/Nav.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	pageTitle? : string,
	pageDescription? : string
}

const { pageTitle, pageDescription } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>El Redil Laureles {pageTitle && `- ${pageTitle}`}</title>
		<ClientRouter />
	</head>
	<body class="bg-white dark:bg-neutral-700 text-neutral-800 dark:text-neutral-200">
		<div class:list={['px-5 mb-5 flex flex-col justify-between layout-bg min-h-32', pageTitle && 'relative pb-7 mb-3 min-h-52']}>
			<Nav></Nav>
			{ pageTitle &&
			<div class:list={["wrapper w-full h-full top-0 left-0", pageDescription && "flex flex-col justify-between min-lg:flex-row items-center"]}>
				<h1 class="tracking-wide text-5xl text-center text-blue-800 dark:text-blue-300 font-extrabold">{pageTitle}</h1>
				<p class:list={["min-md:w-1/2 text-blue-950 dark:text-blue-50 text-lg", "max-md:text-center max-md:mt-5"]}>{pageDescription}</p>
			</div>
			}
		</div>
		<main class="pb-30">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
  @import "tailwindcss";

  @font-face {
    font-family: "Ubuntu";
    src: url("/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Ubuntu", sans-serif;
		@apply text-neutral-800 dark:text-white;
	}

	.max-inline-nav {
		max-inline-size: 1125px;
		margin: 0 auto;
	}

	.layout-bg {
		@apply bg-gradient-to-b from-neutral-200 dark:from-neutral-950 to-transparent;
	}
</style>
